@font-face {
    font-family: texgy;
    src: url(../font/texgyreadventor-bold.otf);
}
html{
    height:100%;
}
body {
    margin: 0px;
    height:100%;
}
nav{
    background-color: #69CBAA;
    color:white;
    font-size:50px;
    text-align: center;
}

a {
    color: #69CBAA;
}

h1
{
    color: #69cbaa;
    font-family: "texgy";
    font-size: 35px;
}

#nav_title{
  font-family: "texgy";
}

#nav_title a
{
    color: #FFFFFF;
    text-decoration: none;
}

.cadre{
    font-family: "texgy";
    color:#69CBAA;
    position:absolute;
    top:17%;
    background-color: #FFFFFF;
    border:#69CBAA 3px solid;
    border-radius: 100px;
}

.cadre1{
    float:left;
    left:5%;
    min-width:50%;
    min-height:715px;
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.cadre2{
    float:left;
    left:65%;
    min-width:30%;
    min-height:715px;
    margin-bottom: 25px;
    padding-bottom: 25px;}

.cadre2 li{
    list-style-type: none;
}

.title{
    font-size:40px;
}

.description{
    font-size:20px;
    margin-top:10px;
}

.img_lot{
    margin-top:10px;
}

.lot{
    font-size:20px;
    margin-top:10px;
}

.liste{
    margin:10%;
}

.hidden
{
    display: none;
}


/*NavBar Left Back Office*/

.navBack{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

    border-right:#69CBAA 2px solid;
    width: 200px;
    position:absolute;
}

.navBack ul{
    margin:0px;
    padding-left:0px;
}

.navBack ul li{
    padding:10px;
    list-style-type: none;
    border-bottom:#69CBAA 1px solid;
}

.navBack ul li a{
    text-decoration: none;
}

.navBack ul .active{
    background-color:#69CBAA;
}

.navBack ul .active a{
    color:#FFF;
}

#content{
    margin:10px 10px 10px 210px;
}

/* FormNewQuizz*/

.formBoxBack{
    border:#69CBAA 1px solid;
    padding: 10px;
}
.titleBoxBack{
    padding:10px 0px;
    color:white;
    background-color:#69CBAA;
    font-size:25px;
    text-align: center;
}
.formBoxBack form input[type="text"], .formBoxBack form textarea{
    width:100%;
    max-width:250px;
    border:#69CBAA 1px solid;
    border-radius:5px;
    padding: 5px;
}
.formBoxBack form textarea{
    min-height:100px;
}
.formBoxBack form .input{
    margin-bottom:10px;
}

.formBoxBack img
{
    border: 1px solid #69CBAA;
    border-radius: 10px;
}

.spaceBar{
    margin:20px 0 20px 5%;
    width:90%;
    height:1px;
    background-color:#69CBAA;
}

.allQuizzImg
{
    height: 200px;
    width: 200px;
}

.sliderQuizz
{
    border: 1px solid #69CBAA;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
}

.sliderQuizz .slick-prev
{
    background: url("../images/prev-arrow.png");
    background-size: 20px 20px;
    content: none;
}

.sliderQuizz .slick-prev:hover
{
    background: url("../images/prev-arrow.png");
    background-size: 20px 20px;
    content: none;
}

.sliderQuizz .slick-next
{
    background: url("../images/next-arrow.png");
    background-size: 20px 20px;
    content: none;
}

.sliderQuizz .slick-next:hover
{
    background: url("../images/next-arrow.png");
    background-size: 20px 20px;
    content: none;
}

.oneQuizz
{
    padding: 15px;
}

.oneQuizz h3
{
    text-align: center;
}

.oneQuizz img
{
    margin: 0 auto;
    margin-bottom: 15px;
}

.oneQuizz .quizzDatas
{
    margin: 0 auto;
}

.quizzLink
{
    float: right;
}

.bold
{
    font-weight: bold;
}

.quizzQuestion
{
    display: none;
}

#successQuizzSave
{
    padding: 10px;
    font-size: 19px;
    color: green;
    display: none;
}

.errorQuizzSave
{
    padding: 10px;
    font-size: 19px;
    color: red;
    display: none;
}

.validSuccess
{
    padding: 10px;
    font-size: 19px;
    color: green;
    display: none;
}

.fixed
{
    position: fixed;
    top: 0;
    left: 0;
}

.button
{
    padding: 15px;
    background: #e2e2e2;
    border: 1px solid #69CBAA;
    color: #69CBAA;
    border-radius:5px;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}

.button:hover
{
    background: #ededed;
    border: 1px solid #72ddb9;
    cursor: pointer;
}

h2
{
    color: #69CBAA;
    font-size: 35px;
    font-family: "texgy";
}

h3
{
    color: #69CBAA;
    font-size: 25px;
    font-family: "texgy";
}


.userRow
{
    border-top: #69CBAA 1px solid;
    display: block;
    float: none;
    clear: both;
}

.userCell
{
    padding: 10px;
    float: left;
    width:200px;
}

.searchUserForm
{
    margin-bottom: 15px;
}

.userRowHeader
{
    color: #69CBAA;
    font-size: 22px;
    font-family: "texgy";
}

.userCell
{
    text-align: center;
}

.userOptions
{
    display: block;
    float: none;
    clear: both;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

.userOptions a
{
    text-decoration: none;
    font-size: 25px;
}

.userOptions a:hover
{
    text-decoration: underline;
}

.infoQuizz h3
{
    margin:5px 0 10px 20px;
}

.questionContent
{
    display: none;
    padding-top: 25px;
}

.questionTitle
{
    font-weight: bold;
    color: #484848;
    font-size: 20px;
    font-family: "texgy";
    margin-bottom: 20px;
}

.responseDiv
{
    margin-bottom: 10px;
    font-size: 18px;
}

.responseDiv div
{
    margin-left: 30px;
}

.noCurrentQuizz
{
    margin-top: 50px;
    font-size: 30px;
}

.buttonParticipate
{
    padding: 15px 25px;
    background: #69CBAA;
    border-radius: 15px;
    display: inline-block;
    color: #FFF;
    font-size: 35px;
    margin-top: 15px;
    text-decoration: none;
}


.buttonParticipate:hover
{
    cursor: pointer;
    background: #72ddb9;
    text-decoration: none;
}

.questionContainer .questionTitle
{
    display: block;
    clear: both;
    float: none;
}

.questionContainer .questionAsset
{
    text-align: center;
    margin-bottom: 25px;
}

.questionContainer .responseButton
{
    padding: 15px 25px;
    width: 235px;
    margin-left: 35px;
    background: #69CBAA;
    border-radius: 15px;
    display: inline-block;
    color: #FFF;
    font-size: 25px;
    text-align: center;
    border: 3px solid #69cbaa;
    margin-bottom: 25px;
}

.questionContainer .responseButton:hover
{
    cursor: pointer;
    background: #72ddb9;
}

.globalCadre
{
    border: 3px solid #69cbaa;
    padding: 80px;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 25px;
    width: 80%;
}

.globalCadreFinal
{
    padding-top: 100px;
    width: 600px;
    text-align: center;
}

.nextQuestionButton
{
    text-align: center;
    float: none;
    clear: both;
    display: block;
    padding-top: 25px;
}

.responseContainer
{
    text-align: center;
}

.nextQuestionButton .responseButton
{
    margin-left: 0;
}

.quizzTitle
{
    font-size: 30px;
    color: #69cbaa;
    font-family: "texgy";
    margin-bottom: 30px;
}

.listClassement
{
    vertical-align: middle;
    font-size: 30px;
    margin-bottom: 5px;
    background: #e8e8e8;
}

.goldClassement
{
    background: gold;
}

.silverClassement
{
    background: silver;
}

.bronzeClassement
{
    background: #CD7F32;
}

.listClassement img
{
    vertical-align: middle;
}

.listClassement a
{
    text-decoration: none;
}

.listClassement a:hover
{
    text-decoration: underline;
}

.classementNumber
{
    display: inline-block;
    width:20px;
    padding: 0 10px;
}

.removeButton
{
    display: inline-block;
    background: #ac474a;
    border: 1px solid #86373a;
    color: #FFF;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
}

.removeButton:hover
{
    background: #ca5357;
    border: 1px solid #9e4144;
    cursor: pointer;
}

.linkClassement
{
    font-size: 25px;
    text-decoration: none;
}

.linkClassement:hover
{
    text-decoration: underline;
}

.listClassementQuizz
{
    padding: 50px;
    left: 5%;
    font-size: 20px;
    width: 25%;
}

.listClassementQuizz a
{
    text-decoration: none;
}

.listClassementQuizz a:hover
{
    text-decoration: underline;
}

.classementContent
{
    padding: 50px;
    left:40%;
    height: 800px;
    list-style-type: none;
}

.classementContent .liste
{
    max-height: 550px;
    overflow: auto;
}

.headerButton
{
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    background: #77e6c1;
    padding: 5px 15px;
    font-size: 18px;
    font-family: "texgy";
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}

.headerButton:hover
{
    background: #83f4cf;
    cursor: pointer;
}

img
{
    max-width: 500px;
    max-height: 500px;
}

.searchButton
{
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    background: #69CBAA;
    padding: 5px 15px;
    font-family: "texgy";
}

.searchButton:hover
{
    cursor: pointer;
    background: #70d8b5;
}