{% extends 'base.html.twig' %}

{% block body %}
    <div id="contentQuizz">
        <div class="globalCadre">
            <div class="quizzTitle">{{ quizz.title }}</div>
            <div id="questionContainer" class="questionContainer">
                {{ render(controller('AppBundle:Default:nextQuestion',{'idQuizz':quizz.id,'nbQuestion':0})) }}
            </div>
        </div>
    </div>
{% endblock %}